# Project exclude paths
/flink-annotations/target/
/flink-clients/target/
/flink-connectors/flink-connector-base/target/
/flink-connectors/flink-connector-cassandra/target/
/flink-connectors/flink-connector-elasticsearch5/target/
/flink-connectors/flink-connector-elasticsearch6/target/
/flink-connectors/flink-connector-elasticsearch7/target/
/flink-connectors/flink-connector-elasticsearch-base/target/
/flink-connectors/flink-connector-files/target/
/flink-connectors/flink-connector-gcp-pubsub/target/
/flink-connectors/flink-connector-hbase-1.4/target/
/flink-connectors/flink-connector-hbase-2.2/target/
/flink-connectors/flink-connector-hbase-base/target/
/flink-connectors/flink-connector-hive/target/
/flink-connectors/flink-connector-jdbc/target/
/flink-connectors/flink-connector-kafka/target/
/flink-connectors/flink-connector-kinesis/target/
/flink-connectors/flink-connector-nifi/target/
/flink-connectors/flink-connector-pulsar/target/
/flink-connectors/flink-connector-rabbitmq/target/
/flink-connectors/flink-connector-twitter/target/
/flink-connectors/flink-file-sink-common/target/
/flink-connectors/flink-hadoop-compatibility/target/
/flink-connectors/flink-hcatalog/target/
/flink-connectors/flink-sql-connector-elasticsearch6/target/
/flink-connectors/flink-sql-connector-elasticsearch7/target/
/flink-connectors/flink-sql-connector-hbase-1.4/target/
/flink-connectors/flink-sql-connector-hbase-2.2/target/
/flink-connectors/flink-sql-connector-hive-1.2.2/target/
/flink-connectors/flink-sql-connector-hive-2.2.0/target/
/flink-connectors/flink-sql-connector-hive-2.3.6/target/
/flink-connectors/flink-sql-connector-hive-3.1.2/target/
/flink-connectors/flink-sql-connector-kafka/target/
/flink-connectors/flink-sql-connector-kinesis/target/
/flink-connectors/target/
/flink-container/target/
/flink-contrib/flink-connector-wikiedits/target/
/flink-contrib/target/
/flink-core/target/
/flink-dist/target/
/flink-docs/target/
/flink-dstl/flink-dstl-dfs/target/
/flink-dstl/target/
/flink-end-to-end-tests/flink-batch-sql-test/target/
/flink-end-to-end-tests/flink-cli-test/target/
/flink-end-to-end-tests/flink-confluent-schema-registry/target/
/flink-end-to-end-tests/flink-connector-gcp-pubsub-emulator-tests/target/
/flink-end-to-end-tests/flink-dataset-allround-test/target/
/flink-end-to-end-tests/flink-dataset-fine-grained-recovery-test/target/
/flink-end-to-end-tests/flink-datastream-allround-test/target/
/flink-end-to-end-tests/flink-distributed-cache-via-blob-test/target/
/flink-end-to-end-tests/flink-elasticsearch5-test/target/
/flink-end-to-end-tests/flink-elasticsearch6-test/target/
/flink-end-to-end-tests/flink-elasticsearch7-test/target/
/flink-end-to-end-tests/flink-end-to-end-tests-common/target/
/flink-end-to-end-tests/flink-end-to-end-tests-common-kafka/target/
/flink-end-to-end-tests/flink-end-to-end-tests-hbase/target/
/flink-end-to-end-tests/flink-end-to-end-tests-pulsar/target/
/flink-end-to-end-tests/flink-file-sink-test/target/
/flink-end-to-end-tests/flink-glue-schema-registry-test/target/
/flink-end-to-end-tests/flink-heavy-deployment-stress-test/target/
/flink-end-to-end-tests/flink-high-parallelism-iterations-test/target/
/flink-end-to-end-tests/flink-local-recovery-and-allocation-test/target/
/flink-end-to-end-tests/flink-metrics-availability-test/target/
/flink-end-to-end-tests/flink-metrics-reporter-prometheus-test/target/
/flink-end-to-end-tests/flink-netty-shuffle-memory-control-test/target/
/flink-end-to-end-tests/flink-parent-child-classloading-test-lib-package/target/
/flink-end-to-end-tests/flink-parent-child-classloading-test-program/target/
/flink-end-to-end-tests/flink-plugins-test/another-dummy-fs/target/
/flink-end-to-end-tests/flink-plugins-test/dummy-fs/target/
/flink-end-to-end-tests/flink-plugins-test/target/
/flink-end-to-end-tests/flink-python-test/target/
/flink-end-to-end-tests/flink-queryable-state-test/target/
/flink-end-to-end-tests/flink-quickstart-test/target/
/flink-end-to-end-tests/flink-rocksdb-state-memory-control-test/target/
/flink-end-to-end-tests/flink-sql-client-test/target/
/flink-end-to-end-tests/flink-state-evolution-test/target/
/flink-end-to-end-tests/flink-stream-sql-test/target/
/flink-end-to-end-tests/flink-stream-state-ttl-test/target/
/flink-end-to-end-tests/flink-stream-stateful-job-upgrade-test/target/
/flink-end-to-end-tests/flink-streaming-kafka-test/target/
/flink-end-to-end-tests/flink-streaming-kafka-test-base/target/
/flink-end-to-end-tests/flink-streaming-kinesis-test/target/
/flink-end-to-end-tests/flink-tpcds-test/target/
/flink-end-to-end-tests/flink-tpch-test/target/
/flink-end-to-end-tests/target/
/flink-examples/flink-examples-batch/target/
/flink-examples/flink-examples-build-helper/flink-examples-streaming-gcp-pubsub/target/
/flink-examples/flink-examples-build-helper/flink-examples-streaming-state-machine/target/
/flink-examples/flink-examples-build-helper/flink-examples-streaming-twitter/target/
/flink-examples/flink-examples-build-helper/target/
/flink-examples/flink-examples-streaming/target/
/flink-examples/flink-examples-table/target/
/flink-examples/target/
/flink-external-resources/flink-external-resource-gpu/target/
/flink-external-resources/target/
/flink-filesystems/flink-fs-hadoop-shaded/target/
/flink-filesystems/flink-hadoop-fs/target/
/flink-filesystems/flink-mapr-fs/target/
/flink-filesystems/flink-oss-fs-hadoop/target/
/flink-filesystems/flink-s3-fs-base/target/
/flink-filesystems/flink-s3-fs-hadoop/target/
/flink-filesystems/flink-s3-fs-presto/target/
/flink-filesystems/target/
/flink-formats/flink-avro/target/
/flink-formats/flink-avro-confluent-registry/target/
/flink-formats/flink-avro-glue-schema-registry/target/
/flink-formats/flink-compress/target/
/flink-formats/flink-csv/target/
/flink-formats/flink-format-common/target/
/flink-formats/flink-hadoop-bulk/target/
/flink-formats/flink-json/target/
/flink-formats/flink-orc/target/
/flink-formats/flink-orc-nohive/target/
/flink-formats/flink-parquet/target/
/flink-formats/flink-sequence-file/target/
/flink-formats/flink-sql-avro/target/
/flink-formats/flink-sql-avro-confluent-registry/target/
/flink-formats/flink-sql-orc/target/
/flink-formats/flink-sql-parquet/target/
/flink-formats/target/
/flink-fs-tests/target/
/flink-java/target/
/flink-kubernetes/target/
/flink-libraries/flink-cep/target/
/flink-libraries/flink-cep-scala/target/
/flink-libraries/flink-gelly/target/
/flink-libraries/flink-gelly-examples/target/
/flink-libraries/flink-gelly-scala/target/
/flink-libraries/flink-state-processing-api/target/
/flink-libraries/target/
/flink-metrics/flink-metrics-core/target/
/flink-metrics/flink-metrics-datadog/target/
/flink-metrics/flink-metrics-dropwizard/target/
/flink-metrics/flink-metrics-graphite/target/
/flink-metrics/flink-metrics-influxdb/target/
/flink-metrics/flink-metrics-jmx/target/
/flink-metrics/flink-metrics-prometheus/target/
/flink-metrics/flink-metrics-slf4j/target/
/flink-metrics/flink-metrics-statsd/target/
/flink-metrics/target/
/flink-optimizer/target/
/flink-python/target/
/flink-queryable-state/flink-queryable-state-client-java/target/
/flink-queryable-state/flink-queryable-state-runtime/target/
/flink-queryable-state/target/
/flink-quickstart/flink-quickstart-java/target/
/flink-quickstart/flink-quickstart-scala/target/
/flink-quickstart/target/
/flink-rpc/flink-rpc-akka/target/
/flink-rpc/flink-rpc-akka-loader/target/
/flink-rpc/flink-rpc-core/target/
/flink-rpc/target/
/flink-runtime/target/
/flink-runtime-web/target/
/flink-runtime-web/web-dashboard/node_modules/
/flink-scala/target/
/flink-scala-shell/target/
/flink-state-backends/flink-statebackend-changelog/target/
/flink-state-backends/flink-statebackend-heap-spillable/target/
/flink-state-backends/flink-statebackend-rocksdb/target/
/flink-state-backends/target/
/flink-streaming-java/target/
/flink-streaming-scala/target/
/flink-table/flink-sql-client/target/
/flink-table/flink-sql-parser/target/
/flink-table/flink-sql-parser-hive/target/
/flink-table/flink-table-api-java/target/
/flink-table/flink-table-api-java-bridge/target/
/flink-table/flink-table-api-scala/target/
/flink-table/flink-table-api-scala-bridge/target/
/flink-table/flink-table-code-splitter/target/
/flink-table/flink-table-common/target/
/flink-table/flink-table-planner/target/
/flink-table/flink-table-runtime/target/
/flink-table/flink-table-uber/target/
/flink-table/target/
/flink-test-utils-parent/flink-connector-test-utils/target/
/flink-test-utils-parent/flink-connector-testing/target/
/flink-test-utils-parent/flink-test-utils/target/
/flink-test-utils-parent/flink-test-utils-junit/target/
/flink-test-utils-parent/target/
/flink-tests/target/
/flink-walkthroughs/flink-walkthrough-common/target/
/flink-walkthroughs/flink-walkthrough-datastream-java/target/
/flink-walkthroughs/flink-walkthrough-datastream-scala/target/
/flink-walkthroughs/target/
/flink-yarn/target/
/flink-yarn-tests/target/
/target/
/tools/ci/java-ci-tools/target/